google-generativeai
requests
beautifulsoup4
moviepy
google-api-python-client
google-auth
Pillow
python-dotenv
tenacity
pytrends
gtts
pydub
mutagen
numpy
edge-tts>=6.1.9
facebook-sdk
cloudinary
requests-toolbelt
pytz
urllib3>=1.26.18