google-generativeai
requests
beautifulsoup4
moviepy
google-api-python-client
google-auth
Pillow
python-dotenv
tenacity
pytrends
gtts
TTS
pydub
mutagen
numpy
edge-tts

facebook-sdk
cloudinary
requests-toolbelt

pytz
urllib3>=1.26.18